/*Text blure on click - https://codepen.io/alexerlandsson/pen/WQQXmO*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: box, border-box;
}
body {
  overflow: hidden;
}
section {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #4cbe5d, #188c94);  
}
section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgb(0, 255, 149);
}
section .color {
  position: absolute;
  filter: blur(150px);
}
section .color:nth-child(1) {
  background: #63dbb3;
  width: 600px;
  height: 600px;
  top: -350px;
}
section .color:nth-child(2) {
  background: #577a3ab9;
  width: 500px;
  height: 500px;
  bottom: -150px;
  left: 100px;
}
section .color:nth-child(3) {
  background: #397e69;
  width: 500px;
  height: 500px;
  bottom: 50px;
  right: 0px;
}

p {
  margin-top: -20%;
  width: 600px;
	max-width: 80%;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3vw;
	transition: all 1500ms ease-out;
  font-family: 'Cinzel', serif;
}



.text-blur  {
	text-shadow: 0 0 8px rgba(0, 0, 0, 0);
	color: transparent;
}

#toggle {
	text-transform: uppercase;
	transition: all 500ms ease;
	cursor:crosshair
}

ul {
  position: relative;
  display: flex;
  z-index: 2;
}
ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}
ul li a {
  position: relative;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255,255,255,0.4);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 5px 45px rgba(0,0,0,0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}
ul li a:hover {
  transform: translateY(-20px);
}
ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255,255,255,0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}
ul li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

img {
  position:inherit;
  margin-top: 11%;
  block-size: 80px;
  padding: 0px 9px 0px 9px;
  border-radius: 16%;
}

img:hover{
  -ms-transform: rotate(720deg); /* IE 9 */
  transform: rotate(720deg);
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-delay: 0.2s;
}



@media (min-width: 320px) and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  section {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  ul {
    position: relative;
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
  }
  ul li {
    position: relative;
    list-style: none;
    margin: 5px;
  }
  ul li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
  }

  ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
}

img {
  position:inherit;
  height:80px;
  width: 80px;
  margin-bottom: 8px;
  border-radius: 16%;
}

img:hover{
  -ms-transform: rotate(720deg); /* IE 9 */
  transform: rotate(720deg);
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-delay: 0.2s;
}

p {
  margin-top: -60%;
	max-width: 30%;
	position: absolute;
  text-align:left;
  text-orientation:upright;
  margin-left: -30%;
	transform: translate(-50%, -50%);
	font-size: 2vw;
	transition: all 1500ms ease-out;
  transition: all 1500ms ease-in;
  font-family: 'Cinzel', serif;
  z-index: 2;
}

.text-blur  {
	text-shadow: 0 0 8px rgba(0, 0, 0, 0);
	color: transparent;
}

#toggle {
	text-transform: uppercase;
	transition: all 500ms ease;
	cursor:crosshair
}

}
